<div class="channel">
  <h2><%= link_to channel.name, channel %></h2>
  <% if channel.current_topic.present? %>
    <div>
      <strong>Current topic: </strong> <%= channel.current_topic %>
    </div>
  <% end %>
  <%= link_to 'Edit', edit_channel_path(channel) %>
  <%= link_to 'Destroy', channel, confirm: 'Are you sure?', method: :delete %>
</div>
