<h1>Channels</h1>

<% if @channels.any? %>
  <%= render @channels %>
<% else %>
  <div>
    Currently there are no channels.
  </div>
<% end %>

<div class="actions">
  <%= link_to 'New Channel', new_channel_path %>
</div>
