<h1><%=t 'views.channels.index.channels' %></h1>

<% if @channels.any? %>
  <%= render @channels %>
<% else %>
  <div>
    <%=t 'views.channels.index.currently_there_are_no_channels' %>
  </div>
<% end %>

<div class="actions">
  <%= link_to t('views.channels.new.new_channel'), new_channel_path %>
</div>
