<div class="page-header">
  <h1>
    <%=t 'views.channels.new_channel' %>
    <%= link_to t('views.scaffold.back_html'), channels_path, class: 'btn btn-mini pull-right' %>
  </h1>
</div>

<%= render 'form' %>
