<div id="channel">
  <div id="messages">
    <%= render @channel.messages %>
  </div>
  <div id="last_message">&nbsp;</div>
  
  <%= render 'messages/form' %>
</div>

<div id="channel_info">
  <h1><%= @channel.name %></h1>
</div>

<%= subscribe_to @channel.pub_sub_name %>
<script>
  $('#header').addClass('fixed_header')
</script>
