<div class="row">
  <div class="span3">
    <%= render 'sidebar' %>
  </div>

  <div class="span9">
    <div class="messages">
      <%= render @channel.messages %>
    </div>

    <%= render 'messages/form' %>
  </div>
</div>
