// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channels
{
  margin-top: -30px;
}

.messages
{
  margin-bottom: 110px;
}

.nav-list
{
  ul#online-users
  {
    margin: 0;
    
    li.online-user
    {
      list-style: none;
    }
  }
}