// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
  .actions
  {
    float: right;
    font-size: 11px;
  }
}

#channels_list
{
  .channel
  {
    border-top: 1px solid #dedede;
    padding: 5px 0;
    margin: 5px 0;

    h2
    {
      margin: 0;

      .actions
      {
        font-size: 11px;
        font-weight: normal;
      }
    }
  }
  
  .channel:last-child
  {
    border-bottom: 1px solid #dedede;
  }
}

#channel
{
  margin-top: 10px;
  float: left;
  width: 70%;
  
  #messages
  {
    margin-top: 20px;
  }
  
  #last_message
  {
    padding-bottom: 80px;
  }
  
  #new_message
  {
    position: fixed;
    bottom: -10px;
    background-color: #fff;
    padding: 20px 0;

    textarea
    {
      height: 50px;
    }
  }
}

#channel_info
{
  position: fixed;
  top: 40px;
  right: 20px;
  width: 27%;
  text-align: left;
  
  h1#channel_name
  {
    margin: 0;
  }
  
  h2#channel_current_topic
  {
    font-size: 13px;
    margin-top: 10px;
    height: 60px;
    
    span#change_topic
    {
      font-size: 11px;
      font-weight: normal;
    }
  }
  
  div#online_users,
  div#allowed_users
  {
    position: relative;
    
    h2
    {
      font-size: 13px;
    }
    
    ul
    {
      margin: 0;
      padding: 0;
      list-style: none;
      
      li
      {
        font-size: 11px;
        border-top: 1px solid #dedede;
        padding: 2px 0;
        
        img
        {
          vertical-align: -4px;
        }
        
        &:last-child
        {
          border-bottom: 1px solid #dedede;
        }
      }
    }
  }
  
  div#uploads
  {
    h2
    {
      font-size: 13px;
      
      span#upload_actions
      {
        font-size: 11px;
        float: right;
        
        a
        {
          font-weight: normal;
        }
        
        a#hide_upload_form
        {
          display: none;
        }
      }
    }
    
    div#upload_form
    {
      display: none;
      margin-bottom: 10px;
    }
    
    ul
    {
      margin: 0;
      padding: 0;
      list-style: none;
      
      li
      {
        font-size: 11px;
        border-top: 1px solid #dedede;
        padding: 2px 0;
        
        img
        {
          vertical-align: -4px;
        }
        
        &:last-child
        {
          border-bottom: 1px solid #dedede;
        }
      }
    }
  }
  
  #change_topic_form
  {
    display: none;
    margin-top: 10px;
    height: 60px;
    
    input[type=submit]
    {
      margin-left: 0 !important;
    }
  }
}
