.text_message
{
  overflow: hidden;
  margin: 5px 0;
  padding: 0 5px;
  
  .gravatar
  {
    float: left;
    margin-right: 10px;
  }
  
  .meta
  {
    overflow: hidden;
    font-size: 11px;
    border-bottom: 1px solid #dedede;
    
    .user
    {
      float: left;
    }
    
    .date
    {
      float: right;
    }
  }
  
  .text
  {
    margin-left: 44px;
    
    pre
    {
      background-color: #fff;
      padding: 0 !important;
      margin: 0 !important;
      font-size: 13px;
      color: #333;
      font-family: verdana, arial, helvetica, sans-serif;
    }
  }
}

.change_topic_message
{
  overflow: hidden;
  margin: 5px 0;
  background-color: #FCF8E3;
  border-top: 1px solid #FBEED5;
  border-bottom: 1px solid #FBEED5;
  padding: 0 5px;
  
  .meta
  {
    font-size: 11px;
    padding-top: 4px;
    
    .gravatar
    {
      float: left;
    }
  
    .current_topic
    {
      float: left;
      margin-left: 5px;
    }
  
    .date
    {
      float: right;
    }
  }
}
