// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-topic-change-message
{
  background-color: #D9EDF7;
}

.gravatar
{
  float: left;
  margin-right: 10px;
}

.text-message .text
{
  margin-left: 48px;
}

.current-topic-change-message
{
  color: #3A87AD;
}

.emoji
{
  width: 16px;
}

#new_message
{
  position: fixed;
  bottom: -10px;
  background-color: #fff;
  padding: 20px 0;
  margin-bottom: 0px;
}
