#users_list
{
  .user
  {
    border-top: 1px solid #dedede;
    padding: 5px 0;
    margin: 5px 0;
    
    h2
    {
      margin: 0;
      
      .actions
      {
        font-size: 11px;
        font-weight: normal;
      }
    }
  }
  
  .user:last-child
  {
    border-bottom: 1px solid #dedede;
  }
}